<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="BleakyApp">
<head>
    <title>Bleaky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="Content/Bleaky/Site.css" rel="stylesheet" media="screen">
    <link href="Content/Bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="Content/Bootstrap/js/bootstrap.js"></script>
    <script src="/Scripts/Login/LoginCtrl.js"></script>
</head>
<body class="blBody">
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Bleaky</a>
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Login">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="fade-in one">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
