<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bleaky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="Content/Bleaky/Site.css" rel="stylesheet" media="screen">
    <link href="Content/Bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="Content/Bootstrap/js/bootstrap.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="page-header">
                    <h3>Bleaky</h3>
                </div>
                <div class="blNavbar">
                    <ul>
                        <li class="fade-in one">Home</li>
                        <li class="fade-in two">Log In</li>
                    </ul>
                </div>
            </div>
            <div class="span10">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
