<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bleaky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="Content/Bleaky/Site.css" rel="stylesheet" media="screen">
    <link href="Content/Bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="Content/Bootstrap/js/bootstrap.js"></script>
</head>
<body class="blBody">
    <div class="navbar navbar-fixed-top navbar-inverse">
        <a class="navbar-brand" href="/">Bleaky</a>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/Login">Login</a></li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="fade-in one">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
