@helper NavClass(string location)
{      
    var path = Url.RenderContext.Context.Request.Url.Path;
    if (string.IsNullOrEmpty(location))
    {
        if (path == "/")
        {
            <text>class="active"</text>
        }
    }
    else
    {
        if (path.StartsWith("/" + location))
        {
            <text>class="active"</text>
        }
    }    
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="BleakyApp">
<head>
    <title>Bleaky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="Content/Bleaky/Site.css" rel="stylesheet" media="screen">
    <link href="Content/Bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
    <script src="http://code.angularjs.org/1.2.0-rc.2/angular-touch.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="Content/Bootstrap/js/bootstrap.js"></script>
    <script src="/Scripts/BleakyApp.js"></script>
    <script src="/Scripts/Login/LoginSvc.js"></script>
    <script src="/Scripts/Login/LoginCtrl.js"></script>
    <script src="/Scripts/Workout/WorkoutCtrl.js"></script>
</head>
<body class="blBody">
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Bleaky</a>
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li @NavClass("")><a href="/">Home</a></li>
                    <li @NavClass("workout")><a href="/workout">Workout</a></li>
                    @if (Html.RenderContext.Context.CurrentUser != null)
                    {
                        <li><a href="/login/logout">Log Out</a></li>
                    }
                    else
                    {
                        <li @NavClass("login")><a href="/login">Log In</a></li>
                    }                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="fade-in one">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
