<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bleaky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="Content/Bleaky/Site.css" rel="stylesheet" media="screen">
    <link href="Content/Bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="Content/Bootstrap/js/bootstrap.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-lg-2">
                <div class="blPageHeader page-header">
                    <h1><a class="blHeaderText" href="/">Bleaky</a></h1>
                </div>
                <div class="blNavbar">
                    <ul>
                        <li class="fade-in one blNavLink"><a href="/">Home</a></li>
                        <li class="fade-in two blNavLink"><a href="/Login">Log In</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-10 fade-in one">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
