@using Nancy
@using Bleaky.Domain.Enum;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Bleaky.Domain.User>

@{
    Layout = "Shared/_Layout.cshtml";
}
@{    
    var type = typeof(MuscleGroups);
    var values = Enum.GetValues(type).Cast<MuscleGroups>();
    var dict = values.ToDictionary(e => e.ToString(), e => Convert.ToInt32(e));
    var json = new Nancy.Json.JavaScriptSerializer().Serialize(dict);
    var script = string.Format("{0}={1};", type.Name, json);
}
<code>@script</code>
<div ng-controller="WorkoutCtrl">
    <div class="blWorkoutDiv">
        Welcome to <strong>your</strong> workouts @Model.Email, to get started press the "Add Workout" button below.
        <br />
        <br />
        <a class="btn btn-mediun btn-success" href="#" ng-click="AddWorkout()">Add Workout</a>
    </div>
    <div id="blAddWorkoutWiz" style="display: none">
        <div class="blAddWorkoutDiv">
            Please enter a name for your workout:
        <br />
            <br />
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputWorkoutName" class="col-lg-3 control-label">Workout Name:</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control input-small" id="inputWorkoutName" ng-model="inputWorkoutName" placeholder="Workout Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputWorkoutFrequency" class="col-lg-3 control-label">Frequency (Days per week):</label>
                    <div class="col-lg-4">
                        <select class="form-control" id="inputWorkoutFrequency" ng-model="inputWorkoutFrequency" ng-options="n for n in days"></select>
                    </div>
                </div>
            </form>
            <button class="btn btn-primary pull-right" style="width: 200px;" ng-click="AddDays()">Next</button>
            <br />
            <br />
        </div>
        <div class="blAddDaysDiv" style="display: none">
            <strong>{{inputWorkoutName}}</strong> : Please select the muscle groups you will work on day:
            <br />
            <br />
            <div style="background-color: rgba(0, 0, 0, 0.8)">
                <img src="/Content/Bleaky/Images/musclesFrontBlue.png" />
                <img src="/Content/Bleaky/Images/musclesBackBlue.png" />
            </div>
            <br />
            <br />
            <button class="btn btn-primary pull-right" style="width: 200px;" ng-click="AddDays()">Next</button>
            <br />
            <br />
        </div>
    </div>
</div>
