@using Nancy
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Bleaky.Domain.User>

@{
    Layout = "Shared/_Layout.cshtml";
}
<div class="blWorkoutDiv" ng-controller="WorkoutCtrl">
    Welcome to <strong>your</strong> workouts @Model.Email, to get started press the "Add Workout" button below.
    <br />
    <br />
    <a class="btn btn-mediun btn-success" href="#" ng-click="AddWorkout()">Add Workout</a>
    <div ng-show="showAddWorkout" class="blAddWorkoutDiv">
        Please enter a name for your workout:
        <br />
        <br />
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputWorkoutName" class="col-lg-3 control-label">Workout Name:</label>
                <div class="col-lg-4">
                    <input type="text" class="form-control input-small" id="inputWorkoutName" ng-model="inputWorkoutName" placeholder="Workout Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputWorkoutFrequency" class="col-lg-3 control-label">Frequency (Days per week):</label>
                <div class="col-lg-4">
                    <input type="text" class="form-control input-small" id="inputWorkoutFrequency" ng-model="inputWorkoutFrequency" placeholder="Frequency">
                </div>
            </div>
        </form>
        <button class="btn btn-primary pull-right">Next</button>
        <br /><br />
    </div>
</div>
