@{
    Layout = "Shared/_Layout.cshtml";
}
<div>
    <h3>Welcome to Bleaky</h3>
    <p>
        Bleaky is a customisable fitness tracking application, that allows you to build up 
        <strong>your own</strong> set of exercises and workouts, whilst still logging 
        and measuring your performance.
    </p>
</div>