@{
    Layout = "Shared/_Layout.cshtml";
}
<div class="blHomePageDiv">
    <h3><span>Welcome to Bleaky</span></h3>
    <h4>
        <span>Bleaky is a customisable fitness tracking application, that allows you to build up 
        <strong>your own</strong> set of exercises and workouts, whilst still logging 
        and measuring your performance.
        </span>
    </h4>
    <a class="btn btn-large btn-primary" href="/login#Register">Sign up for Bleaky</a>
    <a class="btn btn-large btn-default" href="/login">Log In</a>
</div>
