html {
    background-image: url(/Content/Bleaky/Images/background.jpg);
    height: 100%;
}

html .blBody {
    background-color: transparent;
}

body {
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    min-height: 100%;
}

footer {
    color: #CCCCCC;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.blHomePageDiv span {
    color: #FFFFFF;
    background-color:rgba(0, 0, 0, 0.8);
    line-height: 23px;
}

.blLoginDiv {
    color: #FFFFFF;
    background-color:rgba(0, 0, 0, 0.6);
    padding: 20px;
}

.blWorkoutDiv {
    color: #FFFFFF;
    background-color:rgba(0, 0, 0, 0.6);
    padding: 20px;
    margin-bottom: 20px;
}

.blAddWorkoutDiv {
    color: #FFFFFF;
    background-color:rgba(0, 0, 0, 0.6);
    padding: 20px;
}

.blAddDaysDiv {
    color: #FFFFFF;
    background-color:rgba(0, 0, 0, 0.6);
    padding: 20px;
}

.blHeaderText { 
    color: #FFFFFF;
    background-color:rgba(0, 0, 0, 0.8);
}
.blHeaderText:hover { 
    color: #FFFFFF; 
    background-color:rgba(0, 0, 0, 0.8);
    text-decoration: none
}

.blNavbar ul {
    list-style-type: none;
}

@-webkit-keyframes fadeIn {from {opacity: 0;} to {opacity: 1;}}
@-moz-keyframes fadeIn {from {opacity: 0;} to {opacity: 1;}}
@keyframes fadeIn {from {opacity: 0;} to {opacity: 1;}}

.fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fade-in.one {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.fade-in.two {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.blNavLink a {
    font-size: large;
    font-weight: 100;
    margin-top: 5px;
    color: #333333;
}

.blNavLink :hover {
    font-size: large;
    font-weight: 600;
    margin-top: 5px;
    color: #333333;
    text-decoration: none;
}

div .blPageHeader {
    border-bottom: 1px solid #929292;
}

.blLogin {
    border-bottom: 1px solid #929292;
}
